@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap');

:root {
    --bgcolor: hsl(210, 30%, 15%);
    --bright: hsl(210, 30%, 30%);
}

* {
    font-family: "Titillium Web";
    color: white;
}

html, body {
    background-color: var(--bgcolor);
}

#logo {
    height: 70vh;
    position: absolute;
    right: 100px;
    top: 15vh;
}

#title {
    font-size: 100px;
    position: absolute;
    left: 100px;
    top: 100px;
    width: 0;
    font-family: monospace;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 500ms;
    width: 200px;
    background-color: var(--bright);
    height: 100vh;
    z-index: 100;
}

nav.hiddenNav {
    opacity: 0;
}